<div class="container" style="width: 60vh; margin-top: 5vh;" ; > 
  <form data-id="{{currentUser.id}}" name="editForm">
    <div class="mb-3">
      <input type="text" name="name" placeholder="ФИО" class="form-control" value="{{currentUser.name}}" id="name"
        aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <input type="text" name="picture" placeholder="Ссылка на фото" class="form-control" value="{{currentUser.picture}}" id="picture"
        aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <input type="email" name="email" placeholder="Email" class="form-control" value="{{currentUser.email}}" id="email"
        aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <input type="text" name="role" placeholder="Должность" class="form-control" value="{{currentUser.role}}" id="role"
        aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <input type="password" name="password" placeholder="Пароль" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <input type="password" name="password2" placeholder="Повторите пароль" class="form-control"
        id="exampleInputPassword1">
    </div>
    <div class="mb-3">

      <select name="teamid" class="form-select" id="teamid" value="{{currentUser.teamid}}" aria-label="Default select example">
        <option>Выберите команду</option>
        {{#each teams}}
        <option data-id="{{this.id}}" class="category" value="{{this.dataValues.id}}">{{this.dataValues.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="mb-3">

      <select name="departmentid" class="form-select" id="departmentid" value="{{currentUser.teamid}}" aria-label="Default select example">
        <option>Выберите отдел</option>
        {{#each departments}}
        <option data-id="{{this.id}}" class="category" value="{{this.dataValues.id}}">{{this.dataValues.name}}</option>
        {{/each}}
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Изменить данные сотрудника</button>
  </form>
  {{#if err}}
  <span class="err">{{err}}</span>
  {{/if}}


</div>
